<div class="container">

    <h2 class="text-center text-primary">Add New Item</h2>
    <form action="/addnew" method="POST">
        <div class="form-group">
            <input type="text" 
                class="form-control form-control-lg" 
                name="newitem" 
                placeholder="List new item here">
        </div>

        <input type="submit" value="Add Item" class="btn btn-primary btn-lg">
        <a class="btn btn-danger btn-lg" href = "/todos">Cancel</a>

    </form>

</div>